In [195]:
import numpy as np
import pandas as pd

In [196]:
df = pd.read_csv("ministryofhealth.csv")

In [197]:
df = df[['Facility_uid', 'Facility Code:', 'Registration No:', 'Facility Name:', 'Ownership:', 'Ownership Type:', 'Facility Level:',\
        'Days of Operation:', 'Hours of Operation:', 'Operational Status:','State:', 'LGA:', 'Ward:', ' Physical Location:',\
        'Postal Address:', 'Phone Number:','Email Address:','Registration Status:', 'License Status:', 'Out Patient Services:',\
        'In Patient Services:', 'Medical Services:', 'Surgical Services:','Obsterics and Gynecology Services:', 'Pediatrics Services:',\
        'Dental Services:', 'Specific Clinical Services:','Onsite Laboratory:', 'Onsite Pharmacy:', 'Mortuary Services:', 'Ambulance Services:',\
        'Total number of Beds:', 'Onsite Laboratory:', 'Onsite Imaging:','Onsite Pharmacy:','Number of Doctors:', 'Number of Pharmacists:',\
        'Number Pharmacy Technicians:', 'Number of Dentists:','Number of Dental Technicians:', 'Number of Nurses:','Number of Midwifes:',\
        'Number of Nurses/Midwifes:','Number of Lab Technicians:', 'Number of Lab Scientits:','Health Records/HIM Officers:',\
        'Number of Community Health Officer:','Number of Community Health Extension Worker:',\
        'Number of Junior Com Health Extension Worker:','Number of Environmental Health Officers:','Number of Health Attendant/Assistant:']]

In [198]:
df = df.rename(columns={'Facility_uid':'facility_uid', 'Facility Code:':'facility_code', 'Registration No:':'registration_no', \
                        'Facility Name:':'facility_name', 'Ownership:':'ownership', 'Ownership Type:':'ownership_type', 'Facility Level:':'facility_level',\
                        'Days of Operation:':'days_of_operation', 'Hours of Operation:':'hours_of_operation', 'Operational Status:':'operational_status',\
                        'State:':'state', 'LGA:':'lga', 'Ward:':'ward', ' Physical Location:':'physical_location', 'Postal Address:':'postal_address',\
                        'Phone Number:':'phone_number','Email Address:':'email_address','Registration Status:':'registration_status',\
                        'License Status:':'license_status', 'Out Patient Services:':'out_patient_services','In Patient Services:':'in_patient_services',\
                        'Medical Services:':'medical_services', 'Surgical Services:':'surgical_services','Obsterics and Gynecology Services:':'obsterics_and_gynecology_services',\
                        'Pediatrics Services:':'pediatrics_services','Dental Services:':'dental_services', 'Specific Clinical Services:':'specific_clinical_services',\
                        'Onsite Laboratory:':'onsite_laboratory', 'Onsite Pharmacy:':'onsite_pharmacy', 'Mortuary Services:':'mortuary_services',\
                        'Ambulance Services:':'ambulance_services','Total number of Beds:':'total_number_of_beds','Onsite Laboratory:':'onsite_laboratory',\
                        'Onsite Imaging:':'onsite_imaging','Onsite Pharmacy:':'onsite_pharmacy','Number of Doctors:':'no_of_doctors', 'Number of Pharmacists:':'no_of_pharmacists',\
                        'Number Pharmacy Technicians:':'no_pharmacy_technicians', 'Number of Dentists:':'no_of_dentists','Number of Dental Technicians:':'no_of_dental_technicians',\
                        'Number of Nurses:':'no_of_nurses','Number of Midwifes:':'no_of_midwifes', 'Number of Nurses/Midwifes:':'no_of_nurses/midwifes',\
                        'Number of Lab Technicians:':'no_of_lab_technicians', 'Number of Lab Scientits:':'no_of_lab_scientits','Health Records/HIM Officers:':'health_records/HIM_officers',\
                        'Number of Community Health Officer:':'no_of_community_health_officer','Number of Community Health Extension Worker:':'no_of_community_health_extension_worker',\
                        'Number of Junior Com Health Extension Worker:':'no_of_junior_com_health_extension_worker','Number of Environmental Health Officers:':'no_of_environmental_health_officers',\
                        'Number of Health Attendant/Assistant:':'no_of_health_attendant/assistant'})

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29854 entries, 0 to 29853
Data columns (total 51 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   facility_uid                              29854 non-null  int64
 1   facility_code                             29814 non-null  object
 2   registration_no                           1188 non-null   object
 3   facility_name                             29854 non-null  object
 4   ownership                                 29854 non-null  object
 5   ownership_type                            26501 non-null  object
 6   facility_level                            29854 non-null  object
 7   days_of_operation                         25738 non-null  object
 8   hours_of_operation                        19837 non-null  object
 9   operational_status                        29814 non-null  object
 10  state                                     29814 non-null  object
 11  lga                                       29814 non-null  object
 12  ward                                      29799 non-null  object
 13  physical_location                         20642 non-null  object
 14  postal_address                            2239 non-null   object
 15  phone_number                              16655 non-null  object
 16  email_address                             2423 non-null   object
 17  registration_status                       29589 non-null  object
 18  license_status                            29578 non-null  object
 19  out_patient_services                      23233 non-null  object
 20  in_patient_services                       11393 non-null  object
 21  medical_services                          1665 non-null   object
 22  surgical_services                         1169 non-null   object
 23  obsterics_and_gynecology_services         1105 non-null   object
 24  pediatrics_services                       316 non-null    object
 25  dental_services                           68 non-null     object
 26  specific_clinical_services                9569 non-null   object
 27  onsite_laboratory                         10173 non-null  object
 28  onsite_pharmacy                           11054 non-null  object
 29  mortuary_services                         6730 non-null   object
 30  ambulance_services                        29814 non-null  object
 31  total_number_of_beds                      22712 non-null  float64
 32  onsite_laboratory                         10173 non-null  object
 33  onsite_imaging                            6771 non-null   object
 34  onsite_pharmacy                           11054 non-null  object
 35  no_of_doctors                             12882 non-null  float64
 36  no_of_pharmacists                         10305 non-null  float64
 37  no_pharmacy_technicians                   11616 non-null  float64
 38  no_of_dentists                            10614 non-null  float64
 39  no_of_dental_technicians                  10352 non-null  float64
 40  no_of_nurses                              12021 non-null  float64
 41  no_of_midwifes                            11354 non-null  float64
 42  no_of_nurses/midwifes                     13027 non-null  float64
 43  no_of_lab_technicians                     13187 non-null  float64
 44  no_of_lab_scientits                       10874 non-null  float64
 45  health_records/HIM_officers               12284 non-null  float64
 46  no_of_community_health_officer            11508 non-null  float64
 47  no_of_community_health_extension_worker   19677 non-null  float64
 48  no_of_junior_com_health_extension_worker  15749 non-null  float64
 49  no_of_environmental_health_officers       12774 non-null  float64
 50  no_of_health_attendant/assistant          20373 non-null  float64
dtypes: float64(17), int64(1), object(33)
memory usage: 11.6+ MB

In [200]:
df.shape 
# registration_no, postal_address, email_address, medical_services, surgical_services, 
# obsterics_and_gynecology_services, dental_services, pediatrics_services, mortuary_services, onsite_laboratory, onsite_imaging

(29854, 51)

In [201]:
df = df.drop(["registration_no", "postal_address", "email_address", "medical_services", "surgical_services",\
              "obsterics_and_gynecology_services", "dental_services", "pediatrics_services", "mortuary_services",\
              "onsite_laboratory", "onsite_imaging"],\
              axis = 1)
df.shape

(29854, 39)

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29854 entries, 0 to 29853
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   facility_uid                              29854 non-null  int64
 1   facility_code                             29814 non-null  object
 2   facility_name                             29854 non-null  object
 3   ownership                                 29854 non-null  object
 4   ownership_type                            26501 non-null  object
 5   facility_level                            29854 non-null  object
 6   days_of_operation                         25738 non-null  object
 7   hours_of_operation                        19837 non-null  object
 8   operational_status                        29814 non-null  object
 9   state                                     29814 non-null  object
 10  lga                                       29814 non-null  object
 11  ward                                      29799 non-null  object
 12  physical_location                         20642 non-null  object
 13  phone_number                              16655 non-null  object
 14  registration_status                       29589 non-null  object
 15  license_status                            29578 non-null  object
 16  out_patient_services                      23233 non-null  object
 17  in_patient_services                       11393 non-null  object
 18  specific_clinical_services                9569 non-null   object
 19  onsite_pharmacy                           11054 non-null  object
 20  ambulance_services                        29814 non-null  object
 21  total_number_of_beds                      22712 non-null  float64
 22  onsite_pharmacy                           11054 non-null  object
 23  no_of_doctors                             12882 non-null  float64
 24  no_of_pharmacists                         10305 non-null  float64
 25  no_pharmacy_technicians                   11616 non-null  float64
 26  no_of_dentists                            10614 non-null  float64
 27  no_of_dental_technicians                  10352 non-null  float64
 28  no_of_nurses                              12021 non-null  float64
 29  no_of_midwifes                            11354 non-null  float64
 30  no_of_nurses/midwifes                     13027 non-null  float64
 31  no_of_lab_technicians                     13187 non-null  float64
 32  no_of_lab_scientits                       10874 non-null  float64
 33  health_records/HIM_officers               12284 non-null  float64
 34  no_of_community_health_officer            11508 non-null  float64
 35  no_of_community_health_extension_worker   19677 non-null  float64
 36  no_of_junior_com_health_extension_worker  15749 non-null  float64
 37  no_of_environmental_health_officers       12774 non-null  float64
 38  no_of_health_attendant/assistant          20373 non-null  float64
dtypes: float64(17), int64(1), object(21)
memory usage: 8.9+ MB

In [203]:
# TRANSFORMING

In [204]:
# Deal with missing values
res = df.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('NA'))
res.head()

,facility_uid,facility_code,facility_name,ownership,ownership_type,facility_level,days_of_operation,hours_of_operation,operational_status,state,...,no_of_midwifes,no_of_nurses/midwifes,no_of_lab_technicians,no_of_lab_scientits,health_records/HIM_officers,no_of_community_health_officer,no_of_community_health_extension_worker,no_of_junior_com_health_extension_worker,no_of_environmental_health_officers,no_of_health_attendant/assistant
0,48319756,01/01/1/1/2/0001,Aba Holy Wounds Hospital,Private,For Profit,Secondary,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",NA,Operational,Abia,...,1.0,2.0,1.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0
1,63964073,01/01/1/1/2/0012,Chidima Hospital,Private,NA,Primary,NA,NA,Operational,Abia,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,26456575,01/01/1/1/2/0025,Euna Hospital,Private,For Profit,Secondary,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",NA,Operational,Abia,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,73938255,01/01/1/1/2/0030,Goodness & Mercy hospital,Private,For Profit,Secondary,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",NA,Operational,Abia,...,1.0,0.0,1.0,0.0,0.0,3.0,5.0,0.0,0.0,4.0
4,40844348,01/01/1/1/2/0030,Goodness & Mercy hospital,Private,For Profit,Secondary,"Monday, Tuesday, Wednesday, Thursday, Friday, ...",NA,Operational,Abia,...,1.0,0.0,1.0,0.0,0.0,3.0,5.0,0.0,0.0,4.0

In [205]:
res.info()
# facility_code, facility_name, ownership, ownership_type, facility_level
# state, lga, ward, registration_status, license_status, phone_number

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29854 entries, 0 to 29853
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   facility_uid                              29854 non-null  int64
 1   facility_code                             29854 non-null  object
 2   facility_name                             29854 non-null  object
 3   ownership                                 29854 non-null  object
 4   ownership_type                            29854 non-null  object
 5   facility_level                            29854 non-null  object
 6   days_of_operation                         29854 non-null  object
 7   hours_of_operation                        29854 non-null  object
 8   operational_status                        29854 non-null  object
 9   state                                     29854 non-null  object
 10  lga                                       29854 non-null  object
 11  ward                                      29854 non-null  object
 12  physical_location                         29854 non-null  object
 13  phone_number                              29854 non-null  object
 14  registration_status                       29854 non-null  object
 15  license_status                            29854 non-null  object
 16  out_patient_services                      29854 non-null  object
 17  in_patient_services                       29854 non-null  object
 18  specific_clinical_services                29854 non-null  object
 19  onsite_pharmacy                           29854 non-null  object
 20  ambulance_services                        29854 non-null  object
 21  total_number_of_beds                      29854 non-null  float64
 22  onsite_pharmacy                           29854 non-null  object
 23  no_of_doctors                             29854 non-null  float64
 24  no_of_pharmacists                         29854 non-null  float64
 25  no_pharmacy_technicians                   29854 non-null  float64
 26  no_of_dentists                            29854 non-null  float64
 27  no_of_dental_technicians                  29854 non-null  float64
 28  no_of_nurses                              29854 non-null  float64
 29  no_of_midwifes                            29854 non-null  float64
 30  no_of_nurses/midwifes                     29854 non-null  float64
 31  no_of_lab_technicians                     29854 non-null  float64
 32  no_of_lab_scientits                       29854 non-null  float64
 33  health_records/HIM_officers               29854 non-null  float64
 34  no_of_community_health_officer            29854 non-null  float64
 35  no_of_community_health_extension_worker   29854 non-null  float64
 36  no_of_junior_com_health_extension_worker  29854 non-null  float64
 37  no_of_environmental_health_officers       29854 non-null  float64
 38  no_of_health_attendant/assistant          29854 non-null  float64
dtypes: float64(17), int64(1), object(21)
memory usage: 8.9+ MB

In [206]:
""" # 
A character code (one of ‘biufcOSUV’) identifying the general kind of data.
b 	boolean
i 	signed integer
u 	unsigned integer
f 	floating-point
c 	complex floating-point
O 	object
S 	(byte-)string
U 	Unicode
V 	void
"""

' # \nA character code (one of ‘biufcOSUV’) identifying the general kind of data.\nb \tboolean\ni \tsigned integer\nu \tunsigned integer\nf \tfloating-point\nc \tcomplex floating-point\nO \tobject\nS \t(byte-)string\nU \tUnicode\nV \tvoid\n'

In [207]:
#Now in Psql you could run commands such as:

#    \? list all the commands
#    \l list databases
#    \conninfo display information about current connection
#    \c [DBNAME] connect to new database, e.g., \c template1
#    \dt list tables of the public schema
#    \dt <schema-name>.* list tables of certain schema, e.g., \dt public.*
#    \dt *.* list tables of all schemas

In [208]:
# sudo service postgresql restart
# sudo -u postgres -i
# psql
# CREATE USER sakar_ WITH PASSWORD 'sakar10';
# GRANT ALL PRIVILEGES ON DATABASE "postgres" TO sakar_
# InsufficientPrivilege: permission denied to create database
# ALTER USER sakar_ CREATEDB;

In [209]:
# \c [DBNAME]- connect to db
# \dt - list tables on db
# DROP TABLE IF NOT EXISTS [table_name];
# DROP DATABASE IF EXISTS [database];

In [210]:
# Type casting
# df = df.astype({"transaction_id": int, "customer_id": int})
# df["date"] = pd.to_datetime(df["date"], format="%m/%d/%Y")
res.duplicated().sum()

54

In [211]:
res.drop_duplicates(keep='last', inplace=True)
res.shape

(29800, 39)

In [212]:
# LOAD

In [213]:
from sqlalchemy import create_engine, text

In [214]:
# create engine structure
#username="dbuser",
#password="kx@jj5/g",  # plain (unescaped) text
#host="pghost10",
#database="appdb",

In [215]:
engine = create_engine("postgresql://sakar_:sakar10@localhost:5432/postgres")
engine.connect()

In [216]:
### GENERATE KEY FOR DIMENSION TABLE

In [217]:
#df_facility_uid= res[["facility_uid"]].drop_duplicates().sort_values(by="facility_uid")
#df_facility_uid = df_facility_uid.reset_index(drop=True)
#df_facility_uid["facility_uid_key"] = df_facility_uid.index
#df_facility_uid.info()

In [218]:
df_facility_code = res[["facility_code"]].drop_duplicates().sort_values(by="facility_code")
df_facility_code = df_facility_code.reset_index(drop=True)
df_facility_code["facility_code_key"] = df_facility_code.index
df_facility_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24037 entries, 0 to 24036
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   facility_code      24037 non-null  object
 1   facility_code_key  24037 non-null  int64
dtypes: int64(1), object(1)
memory usage: 375.7+ KB

In [219]:
df_facility_name = res[["facility_name"]].drop_duplicates().sort_values(by="facility_name")
df_facility_name = df_facility_name.reset_index(drop=True)
df_facility_name["facility_name_key"] = df_facility_name.index
df_facility_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24873 entries, 0 to 24872
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   facility_name      24873 non-null  object
 1   facility_name_key  24873 non-null  int64
dtypes: int64(1), object(1)
memory usage: 388.8+ KB

In [220]:
df_facility_ownership = res[["ownership"]].drop_duplicates().sort_values(by="ownership")
df_facility_ownership = df_facility_ownership.reset_index(drop=True)
df_facility_ownership["facility_ownership_key"] = df_facility_ownership.index
df_facility_ownership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ownership               3 non-null      object
 1   facility_ownership_key  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [221]:
df_facility_ownership_type = res[["ownership_type"]].drop_duplicates().sort_values(by="ownership_type")
df_facility_ownership_type = df_facility_ownership_type.reset_index(drop=True)
df_facility_ownership_type["facility_ownership_type_key"] = df_facility_ownership_type.index
df_facility_ownership_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ownership_type               8 non-null      object
 1   facility_ownership_type_key  8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

In [222]:
df_facility_level = res[["facility_level"]].drop_duplicates().sort_values(by="facility_level")
df_facility_level = df_facility_level.reset_index(drop=True)
df_facility_level["facility_level_key"] = df_facility_level.index
df_facility_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   facility_level      4 non-null      object
 1   facility_level_key  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [223]:
df_facility_state = res[["state"]].drop_duplicates().sort_values(by="state")
df_facility_state = df_facility_state.reset_index(drop=True)
df_facility_state["facility_state_key"] = df_facility_state.index
df_facility_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               35 non-null     object
 1   facility_state_key  35 non-null     int64
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

In [224]:
df_facility_lga = res[["lga"]].drop_duplicates().sort_values(by="lga")
df_facility_lga = df_facility_lga.reset_index(drop=True)
df_facility_lga["facility_lga_key"] = df_facility_lga.index
df_facility_lga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   lga               644 non-null    object
 1   facility_lga_key  644 non-null    int64
dtypes: int64(1), object(1)
memory usage: 10.2+ KB

In [225]:
df_facility_ward = res[["ward"]].drop_duplicates().sort_values(by="ward")
df_facility_ward = df_facility_ward.reset_index(drop=True)
df_facility_ward["facility_ward_key"] = df_facility_ward.index
df_facility_ward.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6826 entries, 0 to 6825
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ward               6826 non-null   object
 1   facility_ward_key  6826 non-null   int64
dtypes: int64(1), object(1)
memory usage: 106.8+ KB

In [226]:
df_facility_reg_status = res[["registration_status"]].drop_duplicates().sort_values(by="registration_status")
df_facility_reg_status = df_facility_reg_status.reset_index(drop=True)
df_facility_reg_status["facility_reg_status_key"] = df_facility_reg_status.index
df_facility_reg_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_status      7 non-null      object
 1   facility_reg_status_key  7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [227]:
df_facility_lic_status = res[["license_status"]].drop_duplicates().sort_values(by="license_status")
df_facility_lic_status = df_facility_lic_status.reset_index(drop=True)
df_facility_lic_status["facility_license_status_key"] = df_facility_lic_status.index
df_facility_lic_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   license_status               6 non-null      object
 1   facility_license_status_key  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [228]:
df_facility_phone_no = res[["phone_number"]].drop_duplicates().sort_values(by="phone_number")
df_facility_phone_no = df_facility_phone_no.reset_index(drop=True)
df_facility_phone_no["facility_phone_no_key"] = df_facility_phone_no.index
df_facility_phone_no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14357 entries, 0 to 14356
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   phone_number           14357 non-null  object
 1   facility_phone_no_key  14357 non-null  int64
dtypes: int64(1), object(1)
memory usage: 224.5+ KB

In [229]:
#total_number_of_beds, no_of_doctors, no_of_pharmacists, no_of_nurses, 
df_hospital_bed = df[["facility_code","facility_name", "total_number_of_beds"]]
unique_hospital_bed = df_hospital_bed.drop_duplicates().sort_values(by=["facility_name", "total_number_of_beds"])
unique_hospital_bed = unique_hospital_bed.reset_index(drop=True)
unique_hospital_bed["facility_key"] = unique_hospital_bed.index

df_unique_hospital_bed = pd.merge(df_hospital_bed, unique_hospital_bed, on=["facility_code","facility_name", "total_number_of_beds"])\
                           .sort_values(by=["facility_name", "total_number_of_beds"])\
                           .drop_duplicates()

df_unique_hospital_bed["total_number_of_beds"].fillna(0.0, inplace=True)
df_unique_hospital_bed["facility_code"].fillna("NA", inplace=True)
df_unique_hospital_bed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25581 entries, 18143 to 9332
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   facility_code         25581 non-null  object
 1   facility_name         25581 non-null  object
 2   total_number_of_beds  25581 non-null  float64
 3   facility_key          25581 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 999.3+ KB

In [230]:
#total_number_of_beds, no_of_doctors, no_of_pharmacists, no_of_nurses,
df_hospital_doc = df[["facility_code","facility_name", "no_of_doctors"]]
unique_hospital_doc = df_hospital_doc.drop_duplicates().sort_values(by=["facility_name", "no_of_doctors"])
unique_hospital_doc = unique_hospital_doc.reset_index(drop=True)
unique_hospital_doc["facility_key"] = unique_hospital_doc.index

df_unique_hospital_doc = pd.merge(df_hospital_doc, unique_hospital_doc, on=["facility_code","facility_name", "no_of_doctors"])\
                           .sort_values(by=["facility_name", "no_of_doctors"])\
                           .drop_duplicates()

df_unique_hospital_doc["no_of_doctors"].fillna(0.0, inplace=True)
df_unique_hospital_doc["facility_code"].fillna("NA", inplace=True)
df_unique_hospital_doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25581 entries, 18143 to 9332
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   facility_code  25581 non-null  object
 1   facility_name  25581 non-null  object
 2   no_of_doctors  25581 non-null  float64
 3   facility_key   25581 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 999.3+ KB

In [231]:
#total_number_of_beds, no_of_doctors, no_of_pharmacists, no_of_nurses, 
df_hospital_pharm = df[["facility_code","facility_name", "no_of_pharmacists"]]
unique_hospital_pharm = df_hospital_pharm.drop_duplicates().sort_values(by=["facility_name", "no_of_pharmacists"])
unique_hospital_pharm = unique_hospital_pharm.reset_index(drop=True)
unique_hospital_pharm["facility_key"] = unique_hospital_pharm.index

df_unique_hospital_pharm = pd.merge(df_hospital_pharm, unique_hospital_pharm, on=["facility_code","facility_name", "no_of_pharmacists"])\
                           .sort_values(by=["facility_name", "no_of_pharmacists"])\
                           .drop_duplicates()

df_unique_hospital_pharm["no_of_pharmacists"].fillna(0.0, inplace=True)
df_unique_hospital_pharm["facility_code"].fillna("NA", inplace=True)
df_unique_hospital_pharm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25581 entries, 18143 to 9332
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   facility_code      25581 non-null  object
 1   facility_name      25581 non-null  object
 2   no_of_pharmacists  25581 non-null  float64
 3   facility_key       25581 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 999.3+ KB

In [232]:
#total_number_of_beds, no_of_doctors, no_of_pharmacists, no_of_nurses, 
df_hospital_nurse = df[["facility_code","facility_name", "no_of_nurses"]]
unique_hospital_nurse = df_hospital_nurse.drop_duplicates().sort_values(by=["facility_name", "no_of_nurses"])
unique_hospital_nurse = unique_hospital_nurse.reset_index(drop=True)
unique_hospital_nurse["facility_key"] = unique_hospital_nurse.index

df_unique_hospital_nurse = pd.merge(df_hospital_nurse, unique_hospital_nurse, on=["facility_code","facility_name", "no_of_nurses"])\
                           .sort_values(by=["facility_name", "no_of_nurses"])\
                           .drop_duplicates()

df_unique_hospital_nurse["no_of_nurses"].fillna(0.0, inplace=True)
df_unique_hospital_nurse["facility_code"].fillna("NA", inplace=True)
df_unique_hospital_nurse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25581 entries, 18143 to 9332
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   facility_code  25581 non-null  object
 1   facility_name  25581 non-null  object
 2   no_of_nurses   25581 non-null  float64
 3   facility_key   25581 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 999.3+ KB

In [233]:
### Fact Table

In [234]:
result = pd.merge(df, df_facility_code, on="facility_code")
result = pd.merge(result, df_facility_name, on="facility_name")
result = pd.merge(result, df_facility_ownership, on="ownership")
result = pd.merge(df, df_facility_ownership_type, on="ownership_type")
result = pd.merge(result, df_facility_level, on="facility_level")
result = pd.merge(result, df_facility_state, on="state")
result = pd.merge(result, df_facility_lga, on="lga")
result = pd.merge(result, df_facility_ward, on="ward")              
result = pd.merge(result, df_facility_reg_status, on="registration_status")
result = pd.merge(result, df_facility_lic_status, on="license_status")
result = pd.merge(result, df_facility_phone_no, on="phone_number")
result = pd.merge(result, df_unique_hospital_bed, on=["facility_code","facility_name", "total_number_of_beds"])
result = pd.merge(result, df_unique_hospital_doc, on=["facility_code","facility_name", "no_of_doctors"])
result = pd.merge(result, df_unique_hospital_pharm, on=["facility_code","facility_name", "no_of_pharmacists"])
result = pd.merge(result, df_unique_hospital_nurse, on=["facility_code","facility_name", "no_of_nurses"])

/tmp/ipykernel_72081/2430822102.py:15: FutureWarning: Passing 'suffixes' which cause duplicate columns {'facility_key_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = pd.merge(result, df_unique_hospital_nurse, on=["facility_code","facility_name", "no_of_nurses"])

In [ ]:
# df_facility_code-facility_code_key, df_facility_name - facility_name_key, df_facility_ownership - facility_ownership_key
# df_facility_ownership_type - facility_ownership_type_key, df_facility_level - facility_level_key
# df_facility_state - facility_state_key, df_facility_lga - facility_lga_key, df_facility_ward - facility_ward_key
# df_facility_reg_status - facility_reg_status_key, df_facility_lic_status - facility_license_status_key
# df_facility_phone_no - facility_phone_no_key,
# df_unique_hospital_bed - "facility_code","facility_name", "total_number_of_beds"
# df_unique_hospital_doc - "facility_code","facility_name", "no_of_doctors"
# df_unique_hospital_pharm - "facility_code","facility_name", "no_of_pharmacists"
# df_unique_hospital_nurse - "facility_code","facility_name", "no_of_nurses"

In [235]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5551 entries, 0 to 5550
Data columns (total 51 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   facility_uid                              5551 non-null   int64
 1   facility_code                             5551 non-null   object
 2   facility_name                             5551 non-null   object
 3   ownership                                 5551 non-null   object
 4   ownership_type                            5551 non-null   object
 5   facility_level                            5551 non-null   object
 6   days_of_operation                         5472 non-null   object
 7   hours_of_operation                        4144 non-null   object
 8   operational_status                        5551 non-null   object
 9   state                                     5551 non-null   object
 10  lga                                       5551 non-null   object
 11  ward                                      5551 non-null   object
 12  physical_location                         4519 non-null   object
 13  phone_number                              5551 non-null   object
 14  registration_status                       5551 non-null   object
 15  license_status                            5551 non-null   object
 16  out_patient_services                      5193 non-null   object
 17  in_patient_services                       2882 non-null   object
 18  specific_clinical_services                1998 non-null   object
 19  onsite_pharmacy                           2839 non-null   object
 20  ambulance_services                        5551 non-null   object
 21  total_number_of_beds                      5551 non-null   float64
 22  onsite_pharmacy                           2839 non-null   object
 23  no_of_doctors                             5551 non-null   float64
 24  no_of_pharmacists                         5551 non-null   float64
 25  no_pharmacy_technicians                   5437 non-null   float64
 26  no_of_dentists                            5326 non-null   float64
 27  no_of_dental_technicians                  5283 non-null   float64
 28  no_of_nurses                              5551 non-null   float64
 29  no_of_midwifes                            5400 non-null   float64
 30  no_of_nurses/midwifes                     5456 non-null   float64
 31  no_of_lab_technicians                     5485 non-null   float64
 32  no_of_lab_scientits                       5454 non-null   float64
 33  health_records/HIM_officers               5381 non-null   float64
 34  no_of_community_health_officer            5262 non-null   float64
 35  no_of_community_health_extension_worker   5383 non-null   float64
 36  no_of_junior_com_health_extension_worker  5294 non-null   float64
 37  no_of_environmental_health_officers       5248 non-null   float64
 38  no_of_health_attendant/assistant          5488 non-null   float64
 39  facility_ownership_type_key               5551 non-null   int64
 40  facility_level_key                        5551 non-null   int64
 41  facility_state_key                        5551 non-null   int64
 42  facility_lga_key                          5551 non-null   int64
 43  facility_ward_key                         5551 non-null   int64
 44  facility_reg_status_key                   5551 non-null   int64
 45  facility_license_status_key               5551 non-null   int64
 46  facility_phone_no_key                     5551 non-null   int64
 47  facility_key_x                            5551 non-null   int64
 48  facility_key_y                            5551 non-null   int64
 49  facility_key_x                            5551 non-null   int64
 50  facility_key_y                            5551 non-null   int64
dtypes: float64(17), int64(13), object(21)
memory usage: 2.2+ MB

In [ ]:
### LOAD

In [ ]:
# https://www.openlogic.com/blog/kafka-and-spark-streaming
# https://www.openlogic.com/resources/apache-kafka-101
# https://www.openlogic.com/webinars/real-time-data-lakes-kafka-streaming-spark
# TO BE CONTINUED

In [ ]:
# facility_code, facility_name, ownership, ownership_type, facility_level
# state, lga, ward, registration_status, license_status, phone_number

In [44]:
df_facility_uid_dim = df_facility_uid.set_index("facility_uid_key")
df_facility_uid_dim.to_sql("facility_uid_dim", con=engine, if_exists="replace")
with engine.connect() as conn:
    conn.execute(text("ALTER TABLE facility_uid_dim ADD PRIMARY KEY (facility_uid_key);"))
df_facility_uid_dim.shape

(29774, 1)

In [46]:
try:
    conn = psycopg2.connect("host=localhost dbname=postgres user=sakar_ password=sakar10") #connecting to the default database
except psycopg2.Error as e :
    print("error, couldnt connect to database")
    print(e)
conn.set_session(autocommit = True) # any changes we make from here will be updated automatically in the database
curr = conn.cursor()

In [47]:
curr.execute("CREATE DATABASE ehealth_db")   # creating our database in postgres
conn.close()   # closing connection to the default database

In [48]:
try:
    conn = psycopg2.connect("host=localhost dbname=ehealth_db user=sakar_ password=sakar10") # connecting to our new database
except psycopg2.Error as e :
    print("error, couldnt connect to database")
    print(e)
conn.set_session(autocommit = True)
curr = conn.cursor() # creating a cursor to be able to communicate to our database

In [10]:
"""
[
# facility_detail_table
'Facility_uid', 'Facility Code:', 'Registration No:', 
'Facility Name:', 'Ownership:', 'Ownership Type:', 'Facility Level:',
'Days of Operation:', 'Hours of Operation:', 'Operational Status:'

# facility_address_table
'State:', 'LGA:', 'Ward:', ' Physical Location:', 'Postal Address:', 'Phone Number:','Email Address:',

# facility_services_table
'Registration Status:', 'License Status:', 'Out Patient Services:',
'In Patient Services:', 'Medical Services:', 'Surgical Services:',
'Obsterics and Gynecology Services:', 'Pediatrics Services:',
'Dental Services:', 'Specific Clinical Services:',
'Onsite Laboratory:', 'Onsite Pharmacy:', 'Mortuary Services:', 'Ambulance Services:',

# facility_resource_table
'Total number of Beds:', 'Onsite Laboratory:', 'Onsite Imaging:','Onsite Pharmacy:'

# facility_staff_no_table
'Number of Doctors:', 'Number of Pharmacists:',
'Number Pharmacy Technicians:', 'Number of Dentists:',
'Number of Dental Technicians:', 'Number of Nurses:',
'Number of Midwifes:', 'Number of Nurses/Midwifes:',
'Number of Lab Technicians:', 'Number of Lab Scientits:',
'Health Records/HIM Officers:', 'Number of Community Health Officer:',
'Number of Community Health Extension Worker:','Number of Junior Com Health Extension Worker:',
'Number of Environmental Health Officers:','Number of Health Attendant/Assistant:']

# fact_tbl

# facility_address_table, facility_detail_table, facility_staff_no_table, facility_services_table
"""

"\n[\n# facility_detail_table\n'Facility_uid', 'Facility Code:', 'Registration No:', \n'Facility Name:', 'Ownership:', 'Ownership Type:', 'Facility Level:',\n'Days of Operation:', 'Hours of Operation:', 'Operational Status:'\n\n# facility_address_table\n'State:', 'LGA:', 'Ward:', ' Physical Location:', 'Postal Address:', 'Phone Number:','Email Address:',\n\n# facility_services_table\n'Registration Status:', 'License Status:', 'Out Patient Services:',\n'In Patient Services:', 'Medical Services:', 'Surgical Services:',\n'Obsterics and Gynecology Services:', 'Pediatrics Services:',\n'Dental Services:', 'Specific Clinical Services:',\n'Onsite Laboratory:', 'Onsite Pharmacy:', 'Mortuary Services:', 'Ambulance Services:',\n\n# facility_resource_table\n'Total number of Beds:', 'Onsite Laboratory:', 'Onsite Imaging:','Onsite Pharmacy:'\n\n# facility_staff_no_table\n'Number of Doctors:', 'Number of Pharmacists:',\n'Number Pharmacy Technicians:', 'Number of Dentists:',\n'Number of Dental Technicians:', 'Number of Nurses:',\n'Number of Midwifes:', 'Number of Nurses/Midwifes:',\n'Number of Lab Technicians:', 'Number of Lab Scientits:',\n'Health Records/HIM Officers:', 'Number of Community Health Officer:',\n'Number of Community Health Extension Worker:','Number of Junior Com Health Extension Worker:',\n'Number of Environmental Health Officers:','Number of Health Attendant/Assistant:']\n\n# fact_tbl\n\n# facility_address_table, facility_detail_table, facility_staff_no_table, facility_services_table\n"